<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hand.infra.mapper.CityMapper">
  <resultMap id="BaseResultMap" type="com.hand.domain.entity.City" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="city_id" jdbcType="SMALLINT" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country_id" jdbcType="SMALLINT" property="countryId" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
  </resultMap>
  <resultMap id="City" type="com.hand.domain.entity.City">
    <id column="city_id" jdbcType="SMALLINT" property="cityId" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="country_id" jdbcType="SMALLINT" property="countryId" />
    <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    <association property="country" javaType="com.hand.domain.entity.Country">
      <id column="country_id" jdbcType="SMALLINT" property="countryId" />
      <result column="country" jdbcType="VARCHAR" property="country" />
      <result column="last_update" jdbcType="TIMESTAMP" property="lastUpdate" />
    </association>
  </resultMap>
  <select id="findById" resultMap="City">
    select c.country_id,country,c.last_update,c1.last_update,city,city_id from country c,city c1 where c.country_id=c1.country_id and c1.city_id=#{cityId}
  </select>
</mapper>